.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    padding: 0 10%;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}

.nav .logout-btn {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: orange;
    height: 40px;
}

.logout-btn p {
    margin: 0;
}

.nav input {
    font-size: 18px;
    padding: 8px;
    border-radius: 10px;
    height: 20px;
    border: 1px solid gray;
    margin-left: 15px;
}

.nav a {
    text-decoration: none;
    color: inherit !important;
}

.nav .fire {
    color: orange;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-content > * {
    margin-left: 15px;
}

.nav h1 {
    font-weight: 500;
    font-size: 25px;
}

.nav p {
    font-size: 18px;
}

.nav .hamburger {
    display: none;
}

.nav button {
    color: inherit;
    background-color: transparent;
    border: none;
    display: none;
}

.menu {
    width: 100%;
    display: none;
}

@media (width < 1268px) {
    .nav {
        padding: 0 5%;
    }

    .nav p {
        font-size: 15px;
    }

    .nav input {
        font-size: 15px;
    }
}

@media (width < 768px) {
    .nav button {
        display: block;
    }

    .nav .hamburger {
        display: block;
    }

    .menu {
        display: block;
    }

    .nav-content {
        display: none;
    }

    .nav {
        padding: 0 5%;
    }

    .logout-btn {
        margin-bottom: 20px;
        padding: 0;
    }
}