.upload-btn {
    border: none;
    background-color: orange;
    padding: 12px 13.5px;
    border-radius: 50%;
    font-size: 20px;
}

.upload-btn i {
    width: 20px;
    height: 20px;
}

.form-setup {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-sizing: border-box;
    text-align: left;
    margin:auto;
}

.form-setup p {
    margin: 0;
}

.form-setup input {
    margin-bottom: 20px;
}